@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background: linear-gradient(0deg, #181623 0.07%, #191725 50.66%, #0d0b14 96.88%);
  font-family: 'Helvetica Neue', sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}
